:root{
  --accent1: #E11770;
  --accent2: #25AF88;
  --sublime-grey: #2A2A2A;
  --eggshell: #eee;
}
body {
  background-image: url('../img/textures/grey.png');
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  min-width: 100%;
}
p {
  font-family: Verdana,sans-serif;
}
h1, h2, h3 {
  font-weight: 300;
}
.navbar{
  background: white;
  color: #666;
  margin-bottom: 0;
}
.navbar-hidden {
  visibility: hidden; /*unhide on affix scroll*/
}
.affix {
  visibility: visible !important;
  top:0;
  width: 100%;
  z-index: 9999 !important;
  animation: affixFadeIn 2s  ease-in;
  -webkit-animation: affixFadeIn 2s;
}
a {
  color: var(--accent2);
}
a:hover{
  color: var(--accent1);
  text-decoration: none;
}

/*title section*/
.title {
  padding: 5% 0 2.5% 0 !important;
}
.title .down-arrow {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--accent1);
}

/*sections*/

/*page content*/
.main-content {
  margin: 0 auto;
  width: 100%;
}
.main-content .section {
  padding: 30px;
  min-height: 500px;
  margin: 0 auto;
}
.section h3,
.section-small h3 {
  color: var(--accent1);
  font-size: 40px;
  margin-bottom: 30px;
}
.section h4,
.section-small h4 {
  font-size: 32px;
  font-weight: 300;
  color: var(--accent1);
}
.section h5,
.section-end h5 {
  font-size: 20px;
  font-weight: 300;
  color: var(--accent2);
}
.section .table {
  margin-top: 50px;
}
.section-small {
  height: 200px;
  text-align: center;
  padding: 50px;
}
.section-small .btn {
  color: var(--eggshell);
  background: var(--accent2);
  border-radius: 0px
}

/*section-specific*/
#setup, #package-ctrl{
  background: var(--sublime-grey);
  color: var(--eggshell);
}
#setup kbd, 
#package-ctrl kbd {
  background: var(--eggshell);
  color: var(--sublime-grey);
}
#keyboard, #emmet{ 
  background: var(--eggshell);
  color: #363636;
}
#cursors, 
#color-highlighter {
  background: #000;
  color: var(--eggshell);
}
#cursors kbd {
  background: #363636;
  color: #fff;
}
#snippets{
  color: var(--eggshell);
  background: var(--sublime-grey);
}
#preferences{
  background: #fff;
}
#packages hr{
  border-color: var(--accent2);
}

/*animations*/
@keyframes affixFadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes affixFadeIn 
{
from {opacity: 0;}
to {opacity: 1;}
}