:root{
  --accent1: #E11770;
  --accent2: #25AF88;
  --sublime-grey: #2A2A2A;
  --eggshell: #eee;
}
body {
  background-image: url('../img/textures/grey.png');
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  min-width: 100%;
}
p {
  font-family: Verdana,sans-serif;
}
h1, h2, h3 {
  font-weight: 300;
}
.navbar{
  background: white;
  color: #666;
  margin-bottom: 0;
  visibility: hidden; /*unhide on affix scroll*/
}
.affix {
  visibility: visible !important;
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
a {
  color: var(--accent2);
}
a:hover{
  color: var(--accent1);
  text-decoration: none;
}

/*title section*/
.title {
  padding: 5% 0 2.5% 0 !important;
}
.title .down-arrow {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--accent1);
}

/*sections*/

/*page content*/
.main-content {
  margin: 0 auto;
  width: 100%;
}
.main-content .col-md-12 {
  padding: 0; /*remove default*/
}
.main-content .section {
  padding: 30px;
  min-height: 500px;
  margin: 0 auto;
}
.main-content .item {
  width: 75%;
}
.section h3 {
  color: var(--accent1);
  font-size: 40px;
  margin-bottom: 30px;
}
.section h4 {
  font-size: 32px;
  font-weight: 300;
  color: var(--accent1);
}
.section h5 {
  font-size: 20px;
  font-weight: 300;
  color: var(--accent2);
}
.section .table {
  margin-top: 50px;
}

/*section-specific*/
#setup{
  background: var(--sublime-grey);
  color: var(--eggshell);
}
#setup kbd{
  background: var(--eggshell);
  color: var(--sublime-grey);
}
#keyboard{ 
  background: var(--eggshell);
  color: #363636;
}
#cursors {
  background: #000;
  color: var(--eggshell);
}
#cursors kbd {
  background: #363636;
  color: #fff;
}
#snippets{
  color: var(--eggshell);
  background: var(--sublime-grey);
}
#preferences{
  background: #fff;
}

#packages .row {
  margin-top: 20px;
}
